.headerMain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
  .headerTitle{
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: var(--primary);
  }
}

.headerSlider { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}