// Colors

$black: #222222;
$white: white;
$shadedwhite: #e9e9e9;

$grey: #454545;
$lightgrey: #f7f7f4;
$darkgrey: #dbdbdb;

$primary: #233F35;
$secondary: #CF9F3B;

$danger: rgb(255, 67, 67);
$success: rgb(37, 155, 37);
$warning: #f5a524;
$background: #eaeef3;

/* =================== Others */

$desktop: 1024px;
$tablet: 780px;

$base-padding: 16px;
$desktop-padding: 32px;

$base-border-radius: 12px;
