
html,
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
  // background: #BBB1B1;
}

// @font-face {
//   font-family: "Open Sans";
//   src: url("./fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
//     url("./fonts/OpenSans-Regular-webfont.woff") format("woff");
//   font-weight: bold;
//   font-display: swap;
// }
// * {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   font-family: "Open Sans";
//   font-weight: 400;
// }

.icon { 
cursor: pointer;
}

:root {
  --primary: #233F35;
  --secondary: #CF9F3B;
  --success: rgb(37, 155, 37);
  --warning: #f5a524;
  --error: rgb(255, 67, 67);
  --black: #222222;
  --white: #fff;
  --shadedwhite: #e9e9e9;
  --gray: #454545;
  --lightgrey: #f7f7f4;
  --darkgrey: #dbdbdb;
}

.pointer{
  cursor: pointer;
}
.upperText{
  text-transform: uppercase;
}
.test{
  position: relative !important;
  object-fit: cover !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden;
}

.cack-img{
  position: absolute;
  object-fit: cover;
}

.img{
 object-fit: contain !important; 
}

.loginContainer{
  display: flex;
	justify-content: center;
	align-items: center;
	max-width: 200 auto;
	height: 100vh;

  .loginCard{
    display: flex;
    max-width: 400px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

  .loginLink{
    margin-left: 10px;
    color: #2cc9d5; 
  }
  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.circularTitle{
  font-size: 14px !important;
  line-height: 21px !important;
  color: var(--primary) !important;
  margin-top: 6px !important;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 8px !important;
}

.flexStart{
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.flexTrofies{
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}


.title{
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary);
}
.subTitle{
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--primary);
}

.reportTitle{
  font-size: 10px !important;
  line-height: 15px !important;
  letter-spacing: 0.01em !important;
  margin-bottom: 4px !important;
}

.common{
  margin-top: 13px !important;
}

.reportOn{
  margin-bottom: 4px !important;
}

.active-tab{
  color: var(--secondary) !important;
  position: relative !important;
}

.sidebar-tab-text{
  position: relative !important;
}
.activeBorder{
  position: absolute !important;
  z-index: 100px;
  left: 0 !important;
  height: 36px !important;
  transform: matrix(-1, 0, 0, 1, 0, 0) !important;
  width: 8px !important;
	background: #CF9F3B !important;
	border-radius: 6px 0px 0px 6px !important
}

.addNewsBtn{
  padding: 10px;
  text-align: center;
  overflow: hidden !important;
}
.circle{
  width: 66px !important;
}
.newsDialog{
  .title{
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: #272629;
  }
  overflow: hidden !important;
  .MuiInputBase-root{
    border-radius: 8px !important;
  }
.MuiDialog-paper{
  border-radius: 24px;
}
.MuiPaper-root{
  border-radius: 24px !important;
  max-width: 375px !important;
  overflow: hidden !important;
}
}

.totalVisitors{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px !important;
  color: #323943;
}

.MuiSvgIcon-root{
color: #fff !important;
}

.pointer {
  cursor: pointer;
}

.pagination{
  display: flex;
  justify-content: right;
  align-items: baseline;
  margin-top: 20px;
}

.img-selected{
  border: 4px solid var(--secondary);
  border-radius: 20px;
}